In [2]:
from pandas import *
from numpy import *
rurales=read_csv('rurales_12_02_23.csv').drop('Unnamed: 0',axis=1)

In [3]:
rurales

,folioviv,foliohog,pertenece a etnia,no pertenece a etnia,15 o menos,16-29,30-59,60 o mas,numren,ubica_geo,...,LPI,LPEI,tasa ocupacional,tocupa,CUmun,CUmun2,CUmun3,LP,Ingreso mensual,ingreso mensual
0,160009403,1,0,3,0,0,1,2,3,1001,...,sobre,sobre,66.67,Alta,NaN,1,NaN,sobre,9.722394e+05,16203.990000
1,160009407,1,0,4,1,1,2,0,4,1001,...,sobre,sobre,75.00,Alta,NaN,1,NaN,sobre,6.183278e+05,10305.463333
2,160009411,1,0,4,2,0,2,0,4,1001,...,sobre,sobre,50.00,Media,NaN,1,NaN,sobre,4.140248e+05,6900.413333
3,160009415,1,0,3,0,2,1,0,3,1001,...,sobre,sobre,100.00,Alta,NaN,1,NaN,sobre,9.760588e+05,16267.646667
4,160009419,1,0,5,3,0,2,0,5,1001,...,sobre,sobre,60.00,Media,NaN,1,NaN,sobre,6.869438e+05,11449.063333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28781,3260770714,1,0,2,0,0,0,2,2,32012,...,sobre,sobre,50.00,Media,NaN,3,3.0,sobre,6.070549e+05,4742.616667
28782,3260770715,1,0,2,0,0,0,2,2,32012,...,sobre,sobre,100.00,Alta,NaN,3,3.0,sobre,5.921566e+05,4626.223333
28783,3260770716,1,0,3,1,0,2,0,3,32012,...,sobre,sobre,66.67,Alta,NaN,3,3.0,sobre,8.578065e+05,6701.613333
28784,3260770717,1,0,7,3,2,2,0,7,32012,...,sobre,sobre,28.57,Baja,NaN,3,3.0,sobre,1.107934e+06,8655.733333
28785,3260770718,1,0,3,0,0,2,1,3,32012,...,sobre,sobre,66.67,Alta,NaN,3,3.0,sobre,1.937713e+06,15138.386667

In [12]:
data=rurales.filter([ 'ing_cor',
        'trabajo', 'sueldos', 'horas_extr', 'comisiones',
       'aguinaldo', 'indemtrab', 'otra_rem', 'remu_espec', 'noagrop', 'industria', 'comercio', 'servicios', 'agrope',
       'agricolas', 'pecuarios', 'reproducc', 'pesca', 'otros_trab',
       'rentas', 'utilidad', 'arrenda', 'transfer', 'jubilacion', 'becas',
       'donativos', 'remesas', 'bene_gob', 'transf_hog', 'trans_inst','otros_ing'])

In [22]:
data2=data.filter([ 'ing_cor','trabajo', 'noagrop', 'agrope','rentas', 'transfer', 'otros_ing'])

In [69]:
data1=DataFrame()
data1['SumaIngresos']=data['trabajo']+data['noagrop']+data['agrope']+data['rentas']+data['transfer']+data['otros_ing']+data['otros_trab']
data1['IngresoCorriente']=data['ing_cor']
data1['Diferencia']=data1['IngresoCorriente']-data1['SumaIngresos']
data1['EstAlq']=rurales['estim_alqu']
data1['Diferencia2']=round(data1['Diferencia']-data1['EstAlq'])

In [71]:
data1.loc[data1['Diferencia2']]

    SumaIngresos  IngresoCorriente  Diferencia   EstAlq  Diferencia2
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
..           ...               ...         ...      ...          ...
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0
0        39902.3          48611.97     8709.67  8709.67         -0.0

[28786 rows x 5 columns]

In [80]:
chafa=round(len(data1.loc[data1['Diferencia2']!=0])/len(rurales)*100,2)

In [81]:
100-chafa

100.0

In [82]:
100-79.47

20.53

In [67]:
data3=DataFrame()
data3['trabajo']=data['trabajo']
data3['SumaDesacopladaTrabajo']=data['sueldos']+data['horas_extr']+data['comisiones']+data['aguinaldo']+data['indemtrab']+data['otra_rem']+data['remu_espec']
data3['Dif']=round(data3['trabajo']-data3['SumaDesacopladaTrabajo'],2)

In [68]:
data3.Dif.sum()

0.0

In [56]:
data4=DataFrame()
#'noagrop', 'industria', 'comercio', 'servicios'
data4['noagrop']=data['noagrop']
data4['SumaDesacopladaNoAgrop']=data['industria']+data['comercio']+data['servicios']#+data['aguinaldo']+data['indemtrab']+data['otra_rem']+data['remu_espec']
data4['Dif']=round(data4['noagrop']-data4['SumaDesacopladaNoAgrop'],2)

In [58]:
data4.Dif.sum()

0.0

In [63]:
#'agrope','agricolas', 'pecuarios', 'reproducc', 'pesca', 'otros_trab'
data5=DataFrame()
data5['agrope']=data['agrope']
data5['SumaDesacopladaAgrope']=data['agricolas']+data['pecuarios']+data['reproducc']+data['pesca']#+data['otros_trab']
data5['Dif']=round(data5['agrope']-data5['SumaDesacopladaAgrope'],2)

In [64]:
data5.Dif

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
28781    0.0
28782    0.0
28783    0.0
28784    0.0
28785    0.0
Name: Dif, Length: 28786, dtype: float64

In [72]:
'rentas', 'utilidad', 'arrenda'
data6=DataFrame()
data6['rentas']=data['rentas']
data6['SumaDesacopladaRentas']=data['utilidad']+data['arrenda']#+data['reproducc']+data['pesca']#+data['otros_trab']
data6['Dif']=round(data6['rentas']-data6['SumaDesacopladaRentas'],2)

In [74]:
data6.Dif.sum()

0.0

In [76]:
#'transfer', 'jubilacion', 'becas',
 #      'donativos', 'remesas', 'bene_gob', 'transf_hog', 'trans_inst'
data7=DataFrame()
data7['transfer']=data['transfer']
data7['SumaDesacopladaTransfer']=data['jubilacion']+data['becas']+data['donativos']+data['remesas']+data['bene_gob']+data['transf_hog']+data['trans_inst']
data7['Dif']=round(data7['transfer']-data7['SumaDesacopladaTransfer'],2)

In [78]:
data7.Dif.sum()

0.0

In [83]:
rurales['IngresoCorriente']=data['trabajo']+data['noagrop']+data['agrope']+data['rentas']+data['transfer']+data['otros_ing']+data['otros_trab']

In [84]:
rurales.to_csv('rurales_13_02_23.csv')

In [91]:
(rurales['IngresoCorriente']-rurales['ing_cor']).min().round(2)

-87096.77

In [93]:
def tri_mean(A):
    return 0.3*A.mean()

In [94]:
T3=rurales.filter(['trabajo','noagrop','agrope','rentas','transfer','otros_ing','otros_trab','tipo_hogar']).pivot_table(index=['tipo_hogar'],aggfunc=tri_mean,margins=True,margins_name='''Total Ingresos Promedio Mensuales por Fuente ''').round(2)

In [99]:
T3.T.to_csv('exploracion_ingresos_por_fuente.csv')