In [31]:
from pandas import*
import bamboolib
from numpy import *

In [45]:
rurales=read_csv('rurales_filtrado_ingreso.csv').drop('Unnamed: 0',axis=1)
acrurales=read_csv('rurales_autoconsumo_filtrado_ingreso.csv').drop('Unnamed: 0',axis=1)

In [46]:
for i in rurales.loc[rurales['tipo_hogar']=='Sin ingresos propios'].loc[rurales['sueldos']!=0].index:
    rurales['tipo_hogar'][i]='UFR'
for i in rurales.loc[rurales['tipo_hogar']=='Sin ingresos propios'].loc[rurales['ingtrab']!=0].index:
    rurales['tipo_hogar'][i]='UFR'
for i in rurales.loc[rurales['tipo_hogar']=='Sin ingresos propios'].loc[rurales['trabajo']!=0].index:
    rurales['tipo_hogar'][i]='UFR'

In [49]:
rurales.loc[rurales['tipo_hogar']=='Sin ingresos propios'].loc[rurales['trabajo']!=0].index

Int64Index([], dtype='int64')

In [4]:
rurales.loc[rurales['tipo_hogar']=='UFR'].loc[rurales['noagrop']==0]

         folioviv  foliohog  pertenece a etnia  no pertenece a etnia  \
0       160009403         1                  0                     3
1       160009407         1                  0                     4
2       160009411         1                  0                     4
5       160009423         1                  0                     5
10      160009617         1                  0                     1
...           ...       ...                ...                   ...
28776  3260770521         1                  0                     3
28777  3260770522         1                  0                     2
28778  3260770523         1                  0                     3
28784  3260770717         1                  0                     7
28785  3260770718         1                  0                     3

       15 o menos  16-29  30-59  60 o mas  numren  ubica_geo  ...    LPI  \
0               0      0      1         2       3       1001  ...  sobre
1               1      1      2         0       4       1001  ...  sobre
2               2      0      2         0       4       1001  ...  sobre
5               1      2      2         0       5       1001  ...  sobre
10              0      0      1         0       1       1001  ...  sobre
...           ...    ...    ...       ...     ...        ...  ...    ...
28776           1      1      1         0       3      32012  ...  sobre
28777           1      2      0         0       3      32012  ...  sobre
28778           3      1      1         0       5      32012  ...  sobre
28784           3      2      2         0       7      32012  ...  sobre
28785           0      0      2         1       3      32012  ...  sobre

        LPEI  tasa ocupacional  tocupa  CUmun  CUmun2  CUmun3     LP  \
0      sobre             66.67    Alta    NaN       1     NaN  sobre
1      sobre             75.00    Alta    NaN       1     NaN  sobre
2      sobre             50.00   Media    NaN       1     NaN  sobre
5      sobre             40.00   Media    NaN       1     NaN  sobre
10     sobre            100.00    Alta    NaN       1     NaN  sobre
...      ...               ...     ...    ...     ...     ...    ...
28776  sobre             33.33   Media    NaN       3     3.0  sobre
28777  sobre             33.33   Media    NaN       3     3.0  sobre
28778  sobre             20.00    Baja    NaN       3     3.0  sobre
28784  sobre             28.57    Baja    NaN       3     3.0  sobre
28785  sobre             66.67    Alta    NaN       3     3.0  sobre

       Ingreso mensual  ingreso mensual
0         9.722394e+05     16203.990000
1         6.183278e+05     10305.463333
2         4.140248e+05      6900.413333
5         1.488628e+06     24810.470000
10        5.323618e+05      8872.696667
...                ...              ...
28776     7.322782e+05      5720.923333
28777     6.866756e+05      5364.653333
28778     7.201604e+05      5626.253333
28784     1.107934e+06      8655.733333
28785     1.937713e+06     15138.386667

[13351 rows x 162 columns]

In [6]:
rurales.to_csv('rurales_25_01_23.csv')

In [50]:
data=rurales.filter(['folioviv','CUmun2','Region','tocupa','ingreso mensual','LP','tipo_hogar','ingtrab', 'trabajo', 'sueldos', 'horas_extr', 'comisiones',
       'aguinaldo', 'indemtrab', 'otra_rem', 'remu_espec', 'negocio',
       'noagrop', 'industria', 'comercio', 'servicios', 'agrope',
       'agricolas', 'pecuarios', 'reproducc', 'pesca', 'otros_trab',
       'rentas', 'utilidad', 'arrenda', 'transfer', 'jubilacion', 'becas',
       'donativos', 'remesas', 'bene_gob', 'transf_hog', 'trans_inst',
       'estim_alqu', 'otros_ing'])

In [53]:
Reg=DataFrame(data.groupby('Region'))
TO=DataFrame(data.groupby('tipo_hogar'))

In [25]:
for i in Reg[0].index:
    #print(Reg[0][i])
    Reg[1][i].filter(['folioviv','CUmun2','Region','tocupa','ingreso mensual','LP','tipo_hogar','ingtrab', 'trabajo', 'sueldos', 'horas_extr', 'comisiones',
       'aguinaldo', 'indemtrab', 'otra_rem', 'remu_espec', 'negocio',
       'noagrop', 'industria', 'comercio', 'servicios', 'agrope',
       'agricolas', 'pecuarios', 'reproducc', 'pesca', 'otros_trab',
       'rentas', 'utilidad', 'arrenda', 'transfer', 'jubilacion', 'becas',
       'donativos', 'remesas', 'bene_gob', 'transf_hog', 'trans_inst',
       'estim_alqu', 'otros_ing']).pivot_table().to_excel('{}'.format(Reg[0][i])+'.xlsx')

ValueError: No group keys passed!

In [52]:
Reg[1][0].filter(['CUmun2','Region','ingreso mensual','tipo_hogar','ingtrab', 'trabajo', 'sueldos', 'otra_rem', 'remu_espec', 'negocio','noagrop', 'agrope','otros_trab','transfer', 'jubilacion', 'becas',
       'donativos', 'remesas', 'bene_gob', 'otros_ing']).pivot_table(index=['tipo_hogar','CUmun2'],aggfunc=mean,).round(2)

                              agrope   becas  bene_gob  donativos  \
tipo_hogar           CUmun2
Sin ingresos propios 0          0.00    0.00   3067.63    2173.08
                     1          0.00  200.44   2420.40    2495.69
                     2          0.00    0.00   2529.95    2844.55
                     3          0.00   18.41   3169.84    2634.02
                     4          0.00    7.45   2527.69    2141.22
UCE                  0        987.68    0.00   1295.60     741.76
                     1       7773.05   44.14   1757.25    1130.91
                     2       8032.11   41.51   1748.77    1203.37
                     3       6464.22   28.43   2266.21    1101.57
                     4       4692.25   65.76   2240.47    1000.24
UCEP                 1       4688.38   23.86   2161.88     724.37
                     2       5775.27   58.70   1389.00     931.89
                     3       4549.80  168.23   2338.46     815.26
                     4       4764.54  135.44   2346.54     747.05
UFR                  0          0.00  160.51    513.39     895.79
                     1          0.00   57.07    812.68     607.31
                     2          0.00   50.04    893.19     781.22
                     3          0.00   58.83   1156.49     629.79
                     4          0.00   56.15   1257.07     620.69

                             ingreso mensual   ingtrab  jubilacion   negocio  \
tipo_hogar           CUmun2
Sin ingresos propios 0              11132.12      0.00    13562.55      0.00
                     1               8530.27      0.00     5713.62      0.00
                     2               7704.81      0.00     3030.84      0.00
                     3               7778.39      0.00     4360.62      0.00
                     4               7533.15      0.00     2580.93      0.00
UCE                  0              12588.85  22135.20    10327.86    987.68
                     1              11290.24  22337.52     1405.78   7773.05
                     2               9899.58  19157.13      502.37   8032.11
                     3              10628.44  20418.48      980.98   6464.22
                     4               8972.59  16429.45      644.33   4692.25
UCEP                 1              12052.00  25321.03      711.33  14576.00
                     2              14691.62  32536.84     1679.77  12903.30
                     3              11886.69  25660.46      462.61  14331.22
                     4              10513.32  20573.22      765.48  13254.67
UFR                  0              13927.43  29298.33      470.13   1519.10
                     1              12904.21  29422.17      894.53   3388.08
                     2              13137.36  29727.88      674.29   3803.91
                     3              11725.12  25816.22      825.13   2450.62
                     4              10989.09  23654.82      374.40   2511.42

                             noagrop  otra_rem  otros_ing  otros_trab  \
tipo_hogar           CUmun2
Sin ingresos propios 0          0.00      0.00       0.00        0.00
                     1          0.00      0.00     153.67        0.00
                     2          0.00      0.00       0.00        0.00
                     3          0.00      0.00      25.33        0.00
                     4          0.00      0.00      10.44        0.00
UCE                  0          0.00    196.72       0.00        0.00
                     1          0.00    106.19       9.77     1151.84
                     2          0.00      1.78      49.62     1264.53
                     3          0.00     89.42      27.45     1074.09
                     4          0.00     26.43       0.42     1123.75
UCEP                 1       9887.62     44.84       1.73     1789.46
                     2       7128.03    219.13       0.00     3121.88
                     3       9781.42    132.76       2.27      795.94
                     4       8490.13     17.59      26.21     1132.38
UFR                  0       1519.10    184.48       0.00     1107.05
                     1       3388.08    323.45      28.26     1235.69
                     2       3803.91    385.74       3.30     1381.49
                     3       2450.62    218.94       9.47     1245.79
                     4       2511.42    164.47       3.21     1195.19

                             remesas  remu_espec   sueldos   trabajo  transfer
tipo_hogar           CUmun2
Sin ingresos propios 0          0.00        0.00      0.00      0.00  20912.01
                     1       3485.98        0.00      0.00      0.00  17620.88
                     2       4634.66        0.00      0.00      0.00  15965.87
                     3       3662.59        0.00      0.00      0.00  16432.72
                     4       5699.90        0.00      0.00      0.00  16753.61
UCE                  0          0.00        0.00  19721.30  21147.53  12365.22
                     1        880.60      366.52  12271.12  13412.63   6958.23
                     2        815.83      824.60   8854.47   9860.49   5586.57
                     3       1143.73      585.06  11696.96  12880.18   7122.87
                     4       1403.94      815.86   9476.32  10613.46   6880.47
UCEP                 1        984.37      298.28   8362.63   8955.56   6316.55
                     2       1051.88     1232.65  14633.63  16511.66   6423.99
                     3        678.30      484.97   9398.03  10533.30   5683.98
                     4       2009.01      508.90   5329.46   6186.18   7463.30
UFR                  0         21.67     1105.74  23545.02  26672.17   3166.39
                     1        540.73      853.76  21978.31  24798.40   4417.07
                     2        459.16     1363.32  20930.84  24542.48   4652.30
                     3        711.04      942.80  19861.12  22119.80   4821.92
                     4       1170.25      795.04  18018.10  19948.21   5067.40

In [71]:
Tabla=TO[1][0].filter(['CUmun2','Region','ingreso mensual','tipo_hogar','ingtrab', 'trabajo', 'sueldos', 'otra_rem', 'remu_espec', 'negocio','noagrop', 'agrope','otros_trab','transfer', 'jubilacion', 'becas',
       'donativos', 'remesas', 'bene_gob', 'otros_ing']).pivot_table(index=['Region','CUmun2'],aggfunc=mean,margins=True,margins_name='Total').round(2)

In [83]:
T1=Tabla.T.loc[Tabla.T[('Total','')]!=0].T.drop(('Total',),axis=0)

In [92]:
T1['Total']=T1.T.sum().values

In [93]:
T1 = T1.reset_index()
T1

                becas  bene_gob  donativos  ingreso mensual  jubilacion  \
Region CUmun2
Centro 0         0.00   3067.63    2173.08         11132.12    13562.55
       1       200.44   2420.40    2495.69          8530.27     5713.62
       2         0.00   2529.95    2844.55          7704.81     3030.84
       3        18.41   3169.84    2634.02          7778.39     4360.62
       4         7.45   2527.69    2141.22          7533.15     2580.93
Norte  1        33.27   2738.92    2718.62          8781.40     7337.49
       2         0.00   3906.01       0.00          4730.63     1760.87
       3        53.11   3124.28    2263.22          8280.55     5585.03
       4        15.50   3276.35    2988.33          9080.33     7160.28
Sur    1        29.69   3133.23    3936.99          8839.35     8576.68
       2       718.69   3092.74    1137.30          6239.99     8702.03
       3         2.73   3098.91    1928.16          6009.58     4404.74
       4         0.00   3403.70    2328.89          5206.63     1071.40

               otros_ing  remesas  transfer     Total
Region CUmun2
Centro 0            0.00     0.00  20912.01  50847.39
       1          153.67  3485.98  17620.88  40620.95
       2            0.00  4634.66  15965.87  36710.68
       3           25.33  3662.59  16432.72  38081.92
       4           10.44  5699.90  16753.61  37254.39
Norte  1           95.44  1320.56  17838.55  40864.25
       2            0.00  6022.42  12007.22  28427.15
       3          214.13  2897.87  17295.96  39714.15
       4          152.60  2300.84  18769.51  43743.74
Sur    1            0.88   500.77  21157.07  46174.66
       2            0.00     0.00  16200.21  36090.96
       3           11.75  1015.91  13835.58  30307.36
       4            8.81  2077.12  11258.57  25355.12

In [94]:
for i in TO[0].index:
    Tabla=TO[1][i].filter(['CUmun2','Region','ingreso mensual','tipo_hogar','ingtrab', 'trabajo', 'sueldos', 'otra_rem', 'remu_espec', 'negocio','noagrop', 'agrope','otros_trab','transfer', 'jubilacion', 'becas',
       'donativos', 'remesas', 'bene_gob', 'otros_ing']).pivot_table(index=['Region','CUmun2'],aggfunc=mean,margins=True,margins_name='Total').round(2)
    T1=Tabla.T.loc[Tabla.T[('Total','')]!=0].T.drop(('Total',),axis=0)
    T1['Total']=T1.T.sum().values
    T1.to_excel(('{}'.format(TO[0][i])+'.xlsx'))